{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Istruzione - Fase 2
{% endblock %}

{% block content %}
<p align="justify"> Parte 2
        </p>
        <p align="justify"> A questo punto ogni partecipante A aprirà la busta e leggerà ad alta voce il testo al partecipante C. Dopo di che, tutti i partecipanti A torneranno alle loro scrivanie. I partecipanti di tipo B rimarranno seduti durante questo processo e non saranno informati su cosa faranno i partecipanti A. </p>

        <p align="justify"> Ricorda che il partecipante C non sa quale compito hai svolto e cosa significa il punteggio. Gli è stato solo detto che si pensa che un punteggio più alto porti a una vita professionale di maggior successo. È importante sottolineare che questo partecipante conoscerà il tuo punteggio e come si classifica rispetto agli altri partecipanti A.
        </p>

    <p align="justify"> Successivamente, ti chiederemo di compilare un breve questionario. </p>

    <p align="justify"> Per favore aspetta, lo sperimentatore verrà da te </p>

    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% formfields %}

    {% next_button %}

{% endblock %}

