{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Istruzione - Fase 2
{% endblock %}

{% block content %}

        <p align="justify"> Questo ci porta alla fine della prima fase dell'esperimento.
        </p>

        <p align="justify"> In questa fase tutti i partecipanti B sono tenuti a rimanere seduti in silenzio ai loro banchi e ad aspettare fino alla fine della fase 2.
        </p>

        <p align="justify"> Meanwhile, we ask you to fill out a brief questionnaire on the next pages. </p>


    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% formfields %}

    {% next_button %}

{% endblock %}

