{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Second stage
{% endblock %}

{% block content %}

        <p align="justify"> This brings us to the end of the first stage of the experiment.
            The experimenter at the computer server will now prepare the envelopes with information about your score and rank amongst the participants of type A.
            In the meantime, we ask you to fill out a brief questionnaire on the next pages. </p>

        <p align="justify"> Now you will be asked to inform the participant of type C about your score and your rank. Recall that every type A player is visiting the same participant.
            Each participant of type A will be accompanied by the experimenter to the room in which the participant of type C is waiting.
            There, each A participant will open the envelop and read aloud the text to the C participant. Then all A participants will return to their desks. Participants of type B will remain seated during this process and are not informed about what the A participants will do.
        </p>

        <p align="justify"> Remember that the C participant does not know what task you did and what the score means. He or she has only been told that a higher score is thought to lead to a more successful professional life. Importantly, this participant will know your score and how it ranks to the other A participants.
        </p>


    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% formfields %}

    {% next_button %}

{% endblock %}

