{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Istruzione - Fase 2
{% endblock %}

{% block content %}
        <p align="justify"> Questo ci porta alla fine della prima fase dell'esperimento. Lo sperimentatore che si trova al server del computer preparerà ora le buste con le informazioni sul tuo punteggio e ti classificherà tra gli altri partecipanti di tipo A. </p>

        <p align="justify"> Adesso ti verrà chiesto di informare il partecipante di tipo C del tuo punteggio e della tua posizione nella classifica. Ricordiamo che ogni giocatore di tipo A è dallo stesso partecipante. Ciascun partecipante di tipo A sarà accompagnato dallo sperimentatore nella stanza in cui attende il partecipante di tipo C.
        </p>

    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% formfields %}

    {% next_button %}

{% endblock %}

