{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Elaborazione dati (1/2)
{% endblock %}

{% block content %}

        <p align="justify"> I dati iniziali raccolti saranno pseudonimi in base all'ID della postazione in laboratorio. I dati pseudonimi saranno conservati fino a 14 giorni prima della procedura di anonimizzazione. Successivamente, tutti i dati verranno archiviati in forma anonima e non potranno essere associati a nomi specifici. Non sarai identificabile né attraverso i dati raccolti, né privatamente o pubblicamente dai ricercatori responsabili di questo studio o da qualsiasi altra persona. I dati pseudonimi e resi anonimi saranno conservati sotto protezione da password dal ricercatore principale.
        </p>

        <p align="justify"> Saranno raccolti dati sulle tue informazioni demografiche di base (età, genere e etnia), sui risultati delle attivita’ svolte, sui questionari individuali relativi all'attività e all'uso della videoconferenza.  I dati raccolti in questo studio saranno utilizzati solo per scopi di ricerca accademica.
        </p>

    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% next_button %}

{% endblock %}

