{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Elaborazione dati (2/2)
{% endblock %}

{% block content %}

        <p align="justify"> I dati anonimizzati saranno analizzati statisticamente dai ricercatori e sono destinati all'uso in una pubblicazione di tipo accademico. Le informazioni anonime in questo studio potranno essere condivise con altri ricercatori e partecipanti a studi futuri. Lo studio potra’ essere messo a disposizione della comunità di ricerca internazionale, per la trasparenza e il riutilizzo in studi futuri, che potranno comportare trasferimenti internazionali di dati.
        </p>

        <p align="justify"> I dati sono protetti dalla legislazione comunitaria, e in particolare dal IUE (PD10/2019). È possibile contattare il responsabile della protezione dati dell' IUE al seguente indirizzo: data_protection_officer@EUI.eu
        </p>

        <p align="justify"> Fai clic sul pulsante “Successivo” per essere re-indirizzato al modulo di consenso.
        </p>

    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% next_button %}

{% endblock %}

