{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome to the experiment
{% endblock %}

{% block content %}
        <h5>Study description</h5>
        <p align="justify"> We invite you to participate in a study measuring people’s talent. The participation will take approximately 1 hour.
            You will be paid a flat fee of € 5 for showing up and will also be paid a bonus payment based on your performance in the task.
            One correct answer will yield € 1.
        </p>

        <p align="justify"> You will firstly fill out a short survey about your demographic information. Then, you will be directed to the tasks.
            After the completion of tasks, you will be once again asked to fill out a short survey.
        </p>

        <p align="justify"> The completion of tasks is part of a study conducted by researchers at the European University Institute and has been approved by the European University Institute’s Ethics Review Committee.
        </p>

        <h5> Data processing </h5>

        <p align="justify"> The initial data that is gathered will be pseudonymous by station ID in the laboratory. The pseudonymous data will be kept for up to 14 days before the anonymisation procedure. Afterwards, all data will be stored anonymously and cannot be linked to specific names.
            You will not be identifiable either through the data that is collected, or privately or publicly by the researchers responsible for this study or any other person.
            The pseudonymous and anonymised data will be kept under password protection by the principal investigator.
        </p>

        <p align="justify"> The data will be collected on your basic demographic information (age, sex, and race), results of your task, individual questionnaires regarding the task and the use of video conferencing.
            The data collected in this study will only be used for academic research purposes.
        </p>

        <p align="justify"> Anonymised data will be analysed statistically by the researchers and are intended for use in an academic publication.
            Anonymised information in this study may also be shown to other researchers and participants in a future study.
            It may also be made available to the international research community, for transparency and re-usage in future studies, which may involve international data transfers.
        </p>

        <p align="justify"> Your data is protected by the EUI’s data protection policy (PD10/2019). You may contact EUI’s data protection officer through data_protection_officer@EUI.eu
        </p>

        <p align="justify"> If you click "Next" button, you will be directed to the consent form.
        </p>



    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% next_button %}

{% endblock %}

