{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Istruzione
{% endblock %}

{% block content %}
        <p align="justify"> I partecipanti a questo esperimento sono stati divisi casualmente in tre gruppi. Cinque di voi sono di tipo A, cinque sono di tipo B e uno è di tipo C. I partecipanti di tipo A e di tipo B sono in questa stanza, mentre il partecipante di tipo C è in una stanza diversa.
        </p>

         <h5><p align="justify"> Sei di tipo B (Per favore ricorda questo).</p></h5>

        <p align="justify"> L'esperimento è diviso in due fasi. Riceverai le istruzioni per ogni fase quando inizia. Garantiamo che tutto ciò che vi diciamo in queste istruzioni procederà esattamente come descritto. Se hai dei dubbi sul fatto che stiamo agendo nel modo descritto nelle istruzioni, saremo lieti di mostrarti alla fine dell'esperimento che sono state seguite le istruzioni. </p>

    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% formfields %}
    {% next_button %}

{% endblock %}

