{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Istruzione
{% endblock %}

{% block content %}
         <p align="justify"> Iniziamo ora con la fase 1.
        </p>

        <p align="justify"> Nella fase 1 tutti i partecipanti di tipo A e di tipo B eseguiranno autonomamente un compito per 15 minuti.
        </p>

        <p align="justify"> Questo è un compito importante che viene spesso utilizzato per misurare le capacità delle persone. Molti studi scientifici hanno scoperto che le persone che svolgono bene un compito come questo hanno più successo nella vita professionale rispetto alle persone che lo fanno meno bene. Tuttavia, non ti verrà comunicato quale sia generalmente un punteggio buono o cattivo per questo compito.
        </p>

        <p align="justify"> Ti descriviamo qui di seguito il compito. Vedrai due matrici sullo schermo del computer. Ogni matrice ha 10 righe e 10 colonne ed è riempita con numeri generati casualmente. Il tuo compito è quello di trovare il numero più grande in ciascuna delle matrici e poi sommarle. Non è consentito utilizzare calcolatrici, e si prega di rispettare questa regola perché è molto importante. Puoi usare la carta e la matita che hai trovato sulla tua scrivania.
        </p>

    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% formfields %}

    {% next_button %}

{% endblock %}

