{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instruction (1/2)
{% endblock %}

{% block content %}
        <p align="justify"> Welcome to this experiment. </p>

        <p align="justify"> You will receive 5 euro for your participation in today’s experiment.
            Depending on your decisions and the decisions of other participants in today's experiment, you may earn more money.
            You will be paid privately at the end of the experiment. In the experiment you will remain anonymous.
            Your decisions will only be linked to your station id and not to your name in any way. Neither the other participants, nor the experimenter will be able to see how much you personally earn.
            The experiment will take approximately 1 hour.
        </p>

        <p align="justify"> The participants in this experiment have been randomly divided into three groups.
            five of you are of type A, five are of type B and one is of type C. The participants of type A and of type B are in this room, while the participant of type C is in a different room.
        </p>

        <h5><p align="justify"> You are of type B. </p></h5>

        <p align="justify"> The experiment is divided into two stages. You will receive instructions for each stage when it starts. We guarantee that everything we tell you in these instructions will proceed precisely as described.
            If you have any doubts about whether we are acting in the way described in the instructions, we will be happy to show you at the end of the experiment that this is the case. </p>

        <p align="justify"> We now start with stage 1. </p>

    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% formfields %}

    {% next_button %}

{% endblock %}

