{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Istruzione
{% endblock %}

{% block content %}
         <p align="justify"> Dopo questa fase, ti verrà chiesto di informare il partecipante di tipo C del tuo punteggio. Le dirai al partecipante di tipo C il tuo punteggio e il tuo grado tra i partecipanti di tipo A. Nota che ciascuno dei giocatori A riporterà il punteggio allo stesso giocatore C.
        </p>

        <p align="justify"> Dovrai andare in una stanza separata dove aspetterai questo partecipante. Questo partecipante non sa quale compito hai svolto e cosa significa il punteggio. Gli è stato solo detto che si pensa che un punteggio più alto porti a una vita professionale di maggior successo. È importante tenere presente che questo partecipante ascolterà il tuo punteggio e come si classifica rispetto agli altri partecipanti A. Solo il partecipante di tipo C potrà davvero effettuare questo confronto.
        </p>

        <p align="justify"> Come già spiegato, lo sperimentatore al server del computer non sarà in grado di collegare i punteggi agli individui. Preparerà buste chiuse che saranno distribuite da un altro sperimentatore. Il primo set di buste verrà distribuito solo ai partecipanti di tipo A. Questa busta conterrà il tuo punteggio, la tua classifica e il testo che dovrai leggere al partecipante di tipo C. L'altro sperimentatore non conoscerà il contenuto della busta.
        </p>

    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% formfields %}

    {% next_button %}

{% endblock %}

