{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Istruzione
{% endblock %}

{% block content %}
         <p align="justify"> Dopo aver inserito una somma, il computer ti dirà se è corretta o errata (tieni presente che il tempo continuerà a scorrere mentre vedi questo risultato). Successivamente, indipendentemente dal fatto che la tua risposta sia corretta o errata, apparirà una nuova coppia di matrici. Ciò significa che per ogni coppia hai solo un tentativo di fornire la risposta corretta. Tuttavia, ci saranno nuove matrici fintanto che non scadono i 15 minuti. Consentiremo un massimo di 50 tentativi. Eventuali matrici che tenti di risolvere dopo il 50° non verranno conteggiate per il tuo punteggio finale.
        </p>

        <p align="justify"> Dopo che l'attività è stata completata, ti informeremo del tuo punteggio e su come si classifica tra i cinque partecipanti di tipo A. Per fare ciò, lo sperimentatore sul server del computer confronterà il punteggio di tutti e cinque i partecipanti di tipo A. Per garantire il tuo anonimato, questo sperimentatore è seduto in modo da non poterti identificare. Può collegare il tuo punteggio al tuo station ID, ma non può vedere chi è seduto in ogni stazione in particolare.
        </p>

    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% formfields %}

    {% next_button %}

{% endblock %}

