{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Istruzione
{% endblock %}

{% block content %}
         <p align="justify"> Dopo che tutti i partecipanti di tipo A hanno riferito al partecipante di tipo C, lo sperimentatore al server del computer preparerà le buste per tutti i partecipanti. Queste buste conterranno i tuoi guadagni e una ricevuta da firmare. Ancora una volta, lo sperimentatore che distribuisce le buste non ne conosce il contenuto, quindi i tuoi guadagni nell'esperimento rimangono anonimi.
        </p>

        <p align="justify"> Vorremmo che tu vedessi il partecipante di tipo C a cui presenterai il tuo punteggio e classifica. Per questo motivo, ora ognuno di voi lascerà prima la stanza e leggerà ad alta voce –al partecipante C– un testo che ti sarà consegnato. Nota che ognuno di voi andrà dallo stesso partecipante C.
        </p>

    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% formfields %}

    {% next_button %}

{% endblock %}

