{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Istruzione
{% endblock %}

{% block content %}
         <p align="justify"> Per ogni somma corretta riceverai 1 euro e per ogni somma errata riceverai 0 euro. Il numero totale di euro che hai guadagnato sarà visibile sullo schermo alla fine di questa fase.
        </p>

        <p align="justify"> Ricorda che gli studi hanno scoperto che le persone che svolgono bene un compito come questo hanno più successo nella vita professionale. Non saprai come le persone si comportano generalmente in questo compito. Né saprai i punteggi che gli altri partecipanti hanno ottenuto nell’attività di oggi.
        </p>

        <p align="justify"> Ora i partecipanti di tipo A lasceranno la stanza, ciascuno per alcuni minuti. Si prega di rimanere seduti in silenzio fino a quando questo non sarà stato completato.
        </p>

    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% formfields %}

    {% next_button %}

{% endblock %}

