{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instruction
{% endblock %}

{% block content %}
        <p align="justify"> Welcome to this experiment. </p>

        <p align="justify"> You will receive 5 euro for your participation in today’s experiment.
            Depending on your decisions and the decisions of other participants in today's experiment, you may earn more money.
            You will be paid privately at the end of the experiment. In the experiment you will remain anonymous.
            Your decisions will only be linked to your station id and not to your name in any way. Neither the other participants, nor the experimenter will be able to see how much you personally earn.
            The experiment will take approximately 1 hour.
        </p>

        <p align="justify"> The participants in this experiment have been randomly divided into three groups.
            five of you are of type A, five are of type B and one is of type C. The participants of type A and of type B are in this room, while the participant of type C is in a different room.
        </p>

        <h5><p align="justify"> You are of type B. </p></h5>

        <p align="justify"> The experiment is divided into two stages. You will receive instructions for each stage when it starts. We guarantee that everything we tell you in these instructions will proceed precisely as described.
            If you have any doubts about whether we are acting in the way described in the instructions, we will be happy to show you at the end of the experiment that this is the case. </p>

        <p align="justify"> We now start with stage 1. </p>

        <p align="justify"> In stage 1 the participants of type A and of type B will all independently perform a task during 15 minutes. </p>

        <p align="justify"> This is an important task that is often used to measure people’s talents.
            Many scientific studies have found that people who do well in a task like this are more successful in professional life than people who do less well.
            You will not be told, however, what is typically a good or a bad score for this task. </p>

        <p align="justify"> The task is as follows. You will see two matrices on the computer screen. Each matrix has 10 rows and 10 columns and is filled with randomly generated numbers.
            Your job is to find the largest number in each of the matrices and then to add them up. You are not allowed to use calculators, please respect this rule because it is very important.
            You can use the paper and pencil that you have found on your desk. </p>

        <p align="justify"> After entering a sum the computer will tell you whether it is correct or incorrect (please note that the time will continue to run while you see this result).
            Subsequently, irrespective of whether your answer is correct or incorrect, a new pair of matrices will appear. This means that for each pair, you have only one attempt to provide the correct answer.
            However, there will be new matrices as long as you are within the 15 minutes limit. We will allow a maximum of 50 attempts. Any matrices you try to solve after the 50th will not count towards your earnings. </p>

        <p align="justify"> After the task has been completed, we will inform you about your score and how your score ranks amongst the five participants of type A.
            To do this, the experimenter at the computer server will compare the score of all five participants of type A. To ensure your anonymity, this experimenter is seated in a way that he cannot identify you.
            He can link your score to your station id, but cannot see who is sitting at each particular station.
        </p>

        <p align="justify"> For each correct sum you will receive 1 euro and for each incorrect sum you will receive 0 euros.
            The total number of euros you have gained will be visible on the screen at the end of this stage. </p>

        <p align="justify"> Remember that studies have found that people who do well in a task like this are more successful in professional life. You will not know how people typically perform in this task.
            Nor will you know how other participants scored in the task today. </p>

        <p align="justify"> The type A participants will now leave the room, each for a few minutes. Please remain seated quietly until this has been completed. </p>


    {% block styles %}
    <style type="text/css">
        .otree-title {
            background-color: steelblue;
            color: white;
            margin: 10px 0 10px 0;
            padding: 20px;
        }

        .otree-timer {
            background: lightsteelblue;
            color: white;
            border-color: white;
        }

        .otree-body {
            text-indent: each-line;
        }

        .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
        }

        .table-style {
            color: black;
            margin: 10px 10px 10px 10px;
        }

        .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;

        }

        .offer {
            background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;
        }

        .otree-btn-next {
            background-color: steelblue;
            color: white;
            padding: 5px 10px 5px 10px;

        }

        h2, h3, h4, h5, h6 {
            font-weight: bolder;
            color: #24435c;
        }

    </style>
{% endblock %}

    {% formfields %}

    <h5><p align="justify"> Please do not click “Next”. The experimenter will announce when to click the “Next” button. </p></h5>
    <h5><p align="justify"> If you click “Next”. The task will start immediately. </p></h5>

    {% next_button %}

{% endblock %}

